{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "@": "./"
            }
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "@": "./"
            }
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
